:root {
    --cor-principal: #49a09d;
    --cor-secundaria: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor-principal), var(--cor-secundaria));
    }

    main {
        & .login {
            width: 90vw;

            & .img {
                float: left;
                height: 100%;
                width: 40%;
            }

            & .formulario {
                float: right;
                width: 60%;
                height: 100%;

                & h1 {
                    font-size: 2em;
                }

                & p {
                    font-size: 1.0em;
                }

                & .botao {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor-principal), var(--cor-secundaria));
    }

    main {
        & .login {
            width: 900px;
            height: 600px;

            & .img {
                float: right;
                width: 50%;
                height: 100%;
            }

            & .formulario {
                float: left;
                width: 50%;
                height: 100%;

                & h1 {
                    font-size: 2em;
                }

                & p {
                    font-size: 1.2em;
                }

                & .botao {
                    display: flex;
                    justify-content: center;

                }
            }
        }
    }
}